
/*------ flexbox structure https://css-tricks.com/snippets/css/a-guide-to-flexbox/ ------*/

// white border
.wrapperb {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapperb > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background-color: #B0BD92;
  }
  
  .footer {
    background-color:#779971;
  }

  .main {
    text-align: center;
    background-color: #B0BD92;
  }
  
  
  /* ---------- STOPWATCH CSS LAYOUT ------------ */

        .stopwatchContainer {
          background-color: #B0BD92;
          width: 45%;
          min-height: 250px;
          height: 100%;
        }
  
  /* ---------- TASKLIST CSS LAYOUT ------------ */
  
        .tasks {
          background-color: #B0BD92;
          flex: 1;
          display: flex;
          flex-direction: column;
        }

    /* ----------KANBAN BOARD CSS LAYOUT------------ */
  
        .kanbanbox {
          background-color: #B0BD92;
          flex: 1;
          display: flex;
          flex-direction: column;
        }
  
  /* ----------DICTIONARY CSS LAYOUT ------------ */
  
        .dictionary {
          background-color: #B0BD92;
          flex: 1;
          display: flex;
          flex-direction: column;
        }
  
        
  /* ----------POMODORO TIMER CSS LAYOUT ------------ */
        .pomodoro {
          background-color: #B0BD92;
          flex: 1;
          display: flex;
          flex-direction: column;
          min-height: 900px;
          height: 100%;
        }
  

  
  main {
    display: flex;
      min-height: calc(100vh - 40vh);
  }
  
  section {
    min-height: calc(100vh - 40vh);
  }
  
  header, footer, article, nav, aside {
      padding: 1em;
    }
  
  body {
    padding: 2em; 
  }
  
  
  /* -------- Responsive Design ---------- */
  
  @media screen and (max-width: 560px) {
    body {
      padding: 0;
    }
  
    .banner {
      padding: 10px;
    }
  
    p {
      margin-right: 0px;
      margin-left: 0px;
    }
  
  }